<div class="h-full flex items-center justify-center">
  <form
    class="bg-slate-700 rounded-lg px-6 py-4 flex justify-center items-center mx-auto border shadow-xl"
    method="post"
    action="/chat"
  >
    <div class="grid gap-2 mb-4 shadow">
      <div class="text-xl font-bold">Log in to your account</div>
      <div>
        <label
          class="block mb-2"
          for="username"
          >Username</label
        >
        <input
          class="block rounded-md px-2 bg-zinc-700 border border-gray-400"
          type="text"
          name="username"
        />
      </div>
      <div>
        <label
          class="block mb-2"
          for="password"
          >Password</label
        >
        <input
          class="block rounded-md px-2 bg-zinc-700 border border-gray-400"
          type="password"
          name="password"
        />
      </div>
      <div>
        <button
          class="btn-gray border border-gray-400 rounded-md block w-full"
          type="submit"
        >
          Login
        </button>
      </div>
      <div class="flex justify-between underline text-sky-300">
        <a href="#">Register</a>
        <a href="#">Reset password</a>
      </div>
    </div>
  </form>
</div>
